/* текст-кнопки */
$color-text-one: color #212121;
$color-text-two: color #757575;
$color-text-three: color #2196f3;
/* фон */
$shadow-black: rgba(47, 48, 58, 0.8);
$bg-color: white;
/* шрифты */
$shrift-releway: Raleway;
$shrift-roboto: Roboto;
